/* stylelint-disable comment-empty-line-before */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-foreground;
    @apply selection:bg-pink-950/80;
    @apply min-h-screen scroll-smooth antialiased transition-colors;

    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-m-20;
  }
  h1 {
    @apply font-brand text-4xl font-black sm:text-5xl;
  }
  h2 {
    @apply font-brand text-3xl font-bold sm:text-4xl;
  }
  h3 {
    @apply text-2xl font-bold sm:text-3xl;
  }
  h4 {
    @apply text-xl font-bold sm:text-2xl;
  }
  h5 {
    @apply text-lg font-bold sm:text-xl;
  }
  h6 {
    @apply text-base font-bold sm:text-lg;
  }
  header {
    @apply space-y-1;
  }
  b {
    @apply font-bold;
  }
  pre,
  code {
    @apply font-mono;
  }
  button {
    @apply select-none;
  }
  p,
  li {
    @apply text-lg leading-snug;
  }
}

@layer components {
  .icon {
    @apply h-6 w-6 lg:h-8 lg:w-8;
  }
  .icon-avatar {
    @apply h-3 w-3 lg:h-4 lg:w-4;
  }
}

@layer utilities {
  .hover-opacity {
    @apply transition hover:opacity-80;
  }
}

/* NProgress styles need to be outside of layers because using #id */
#nprogress {
  @apply pointer-events-none z-50;
}
#nprogress .bar {
  @apply fixed left-0 top-0 z-50 h-1 w-full;
  @apply bg-pink-600 dark:bg-pink-400;
  @apply border-b-2 border-background;
}
#nprogress .peg {
  @apply absolute right-0 z-50 block h-full w-28 -translate-y-1 translate-x-0 rotate-3 opacity-100;
  @apply shadow-[0_0_15px_#000,0_0_10px_#000] shadow-brand dark:shadow-[0_0_15px_#FFF,0_0_10px_#FFF];
}
#nprogress .spinner {
  @apply fixed right-4 top-4 z-50 block;
}
#nprogress .spinner-icon {
  @apply bg-background;
  @apply z-50 box-border h-6 w-6 animate-spin rounded-full border-4 border-transparent duration-500;
  @apply border-l-pink-600 border-t-pink-600 dark:border-l-pink-300 dark:border-t-pink-300;
}
.nprogress-custom-parent {
  @apply relative z-50 overflow-hidden;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  @apply absolute z-50;
}

/* Uploadcare styles need to be outside of layers */
.uploadcare--dialog {
  @apply backdrop-blur-sm;
}
.uploadcare--dialog__container {
  @apply rounded border-2 border-border bg-card;
}
.uploadcare--panel {
  @apply bg-background text-foreground;
}
.uploadcare--menu__items {
  @apply bg-background text-foreground;
}
.uploadcare--menu__item.uploadcare--menu__item_current {
  @apply bg-pink-950 text-pink-200;
}
.uploadcare--menu__item {
  @apply bg-secondary text-secondary-foreground;
}
/* .uploadcare--link,
.uploadcare--link:link,
.uploadcare--link:visited {
  @apply link;
} */
/* .uploadcare--button:not(.uploadcare--button_primary) {
  @apply button-variant-outline;
} */
.uploadcare--button:not(.uploadcare--dialog__close) {
  @apply cursor-pointer;
}
.uploadcare--dialog__close {
  @apply cursor-pointer bg-white text-white hover:bg-gray-100 focus:bg-gray-100;
}
.uploadcare--widget__button {
  @apply inline-flex items-center justify-center transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50;
  @apply cursor-pointer border-2 border-primary bg-secondary text-secondary-foreground shadow hover:bg-secondary/50;
}
/* .uploadcare--button_primary {
  @apply button button-variant-subtle block border-none;
} */
.uploadcare-tab-effects--effects {
  @apply flex items-center;
}
.uploadcare-tab-effects--effect-button {
  @apply dark:fill-white;
}
/* .uploadcare--input {
  @apply input;
} */
/* .uploadcare--camera__device-select {
  @apply select-trigger w-full max-w-lg;
} */
.uploadcare--progress_type_canvas {
  @apply text-brand;
}
.uploadcare--panel__footer {
  @apply bg-background text-foreground;
}
.uploadcare--file {
  @apply bg-background text-foreground;
}
.uploadcare--progressbar__value {
  @apply bg-brand;
}
/* .uploadcare--file__description {
  @apply hover:link focus:link;
} */
/* .uploadcare--file__description .uploadcare--file__preview {
  @apply hover:link focus:link;
} */
/* .uploadcare--file_status_uploading .uploadcare--file__preview {
  @apply hover:link focus:link border-brand-500 bg-brand-500 text-brand-500;
} */
.uploadcare--menu_opened .uploadcare--menu__toggle {
  @apply bg-background text-foreground;
}
.uploadcare--powered-by {
  @apply hidden;
}
.select__control {
  @apply bg-black !important;
}
.select__menu-list {
  @apply bg-black !important;
}
.select__option--is-focused {
  @apply bg-gray-900 !important;
}
